ghost\master\yaya_variable.cfg
ghost\master\descript.txt
ghost\master\profile\ghost.dat
ghost\master\profile\shell.dat.bak
ghost\master\profile\var.txt
shell/\!original/profile/shell.dat.bak
shell/\!original/profile/shell.dat
ghost/master/yaya_variable.cfg
ghost/master/profile/var.txt
ghost/master/profile/ghost.dat
shell/\!original/profile/shell.dat.bak
ghost/master/profile/ghost.dat
ghost/master/profile/ghost.dat.bak
shell/Nightmare/profile/shell.dat
shell/Nightmare/profile/shell.dat.bak
